.send{
    text-align: center;
}
#suscrib{
    background-color: #03553E;
    color: white;
}
.contenedor{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.contenedor > div,
.contenedor .contacto,
.contenedor .suscribete,
.contenedor .visitanos{
    background-color:  white;
    padding: 20px;
}

.contenedor .contacto{
    background-color: rgb(230, 170, 87);
    color: white;
}
.contenedor .suscribete{
    background-color: rgb(152, 92, 8);
    color: white;
    grid-row: span 2;
}
.contenedor .visitanos{
    background-color: white;
    color: black;
}

.iconos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
}

.iconos > div,
.iconos .facebook,
.iconos .instagram,
.iconos .tiktok{
    text-align: center;
}

.enlaces{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.enlaces > div,
.enlaces .envio,
.enlaces .pregunta,
.enlaces .metodo,
.enlaces .politica{
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px){
    .contenedor .contacto{
        grid-column: 1 / -1;
    }
    .contenedor .suscribete{
        grid-column: 1 / -1;
    }
    .contenedor .visitanos{
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 570px){
    .iconos .facebook{
        grid-column: 1 / -1;
    }
    .iconos .instagram{
        grid-column: 1 / -1;
    }
    .iconos .tiktok{
        grid-column: 1 / -1;
    }
}
@media screen and (max-width: 570px){
    .contenedor .contacto{
        text-align: center;
    }
    .contenedor .visitanos{
        text-align: center;
    }
}

.desarrollador {
    background-color: #333; /* Fondo oscuro para resaltar */
    color: white; /* Texto en blanco */
    text-align: center; /* Centrar el texto */
    padding: 10px 0; /* Espaciado interno */
    margin-top: 0; /* Eliminar el margen superior */
    font-size: 14px; /* Tamaño de fuente */
}

.desarrollador a {
    color: #ffd700; /* Color dorado para los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold;
}

.desarrollador a:hover {
    color: #ffffff; /* Cambia el color al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}