<div class="container-fluid p-0">
  <div class="row justify-content-center" id="titulopasteleria">
    <div class="col-md-12 text-center mb-4" style="background-color: #f8f9fa; padding: 20px;">
      <h1 class="display-4" style="color: #915817;">Pastelería Cuquita</h1>
      <p class="lead">Descubre nuestra deliciosa selección de pasteles.</p>
    </div>
  </div>
</div>

<div class="container mt-4">
    <h2>Ubicación de la Pastelería</h2>
    <p class="lead">¡Ven a visitarnos! Estamos ubicados en:</p>
  
    <!-- Mapa de Leaflet -->
    <div id="map" style="height: 400px; width: 100%;"></div>
  
    <!-- Botón para abrir en Google Maps -->
    <div class="text-center mt-3">
      <a
        href="https://www.google.com/maps?q=21.857071,-102.281159"
        target="_blank"
        class="btn btn-warning"
      >
        Abrir en Google Maps
      </a>
    </div>
    <br><br>
</div>