#map {
    height: 400px;
    width: 100%;
    border-radius: 8px;
}
  
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
  
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#titulopasteleria {
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 20px; /* Espacio debajo del carousel */
}