<div class="container-fluid p-0">
  <div class="row justify-content-center" id="titulopasteleria">
    <div class="col-md-12 text-center mb-4" style="background-color: #f8f9fa; padding: 20px;">
      <h1 class="display-4" style="color: #915817;">Ubicación de la Pastelería</h1>
      <p class="lead">¡Ven a visitarnos! Estamos ubicados en:</p>
    </div>
  </div>
</div>

<div class="container mt-4">
    <h2>Calle Tamaulipas 309, Pirámides, 20277 Aguascalientes, Ags.</h2>
    <br>
  
    <!-- Mapa de Leaflet -->
    <div id="map" style="height: 400px; width: 100%;"></div>
  
    <!-- Botón para abrir en Google Maps -->
    <div class="text-center mt-3">
      <a
        href="https://www.google.com.mx/maps/@21.8571753,-102.2810765,3a,75y,304.37h,80.63t/data=!3m7!1e1!3m5!1sjkUrLRWC59GYwuDzSPhf5g!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D9.365235082774262%26panoid%3DjkUrLRWC59GYwuDzSPhf5g%26yaw%3D304.371367947977!7i16384!8i8192?hl=es&entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        class="btn btn-warning"
      >
        Abrir en Google Maps
      </a>
    </div>
    <br><br>
</div>